<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="default-messaging" type="Inceptum.Messaging.Configuration.MessagingConfigurationSection, Inceptum.Messaging" />
		<section name="one-transport-messaging" type="Inceptum.Messaging.Configuration.MessagingConfigurationSection, Inceptum.Messaging" />
		<section name="empty-messaging" type="Inceptum.Messaging.Configuration.MessagingConfigurationSection, Inceptum.Messaging" />
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog>
		<targets>
			<target name="console" type="Console"
				   layout="${longdate} [${threadid}][${threadname}] [${logger:shortName=true}] ${message}  ${exception:format=tostring}"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="console" />
		</rules>
	</nlog>
	<empty-messaging>
	</empty-messaging>
	<one-transport-messaging>
		<transports>
			<clear />
			<add name="main" broker="localhost" login="guest" password="guest" messaging="RabbitMq" />
		</transports>
		<endpoints>
			<clear />
			<add name="endpoint1" transportId="main" destination="queue1" sharedDestination="true" />
			<add name="endpoint2" transportId="main" destination="queue2" sharedDestination="false" />
			<add name="endpoint3" transportId="main" destination="queue3" />
		</endpoints>
	</one-transport-messaging>
	<default-messaging>
		<transports>
			<clear />
			<add name="main" broker="localhost" login="guest" password="guest" />
		</transports>
		<endpoints>
			<clear />
			<add name="endpoint1" transportId="main" destination="queue1" />
		</endpoints>
	</default-messaging>
</configuration>