<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="default-messaging" type="Inceptum.Messaging.Configuration.MessagingConfigurationSection, Inceptum.Messaging"/>
		<section name="one-transport-messaging" type="Inceptum.Messaging.Configuration.MessagingConfigurationSection, Inceptum.Messaging"/>
		<section name="empty-messaging" type="Inceptum.Messaging.Configuration.MessagingConfigurationSection, Inceptum.Messaging"/>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog>
		<targets>
			<target name="console" type="Console" layout="${longdate} [${threadid}][${threadname}] [${logger:shortName=true}] ${message}  ${exception:format=tostring}"/>
		</targets>
		<rules>
			<logger name="*" minlevel="Trace" writeTo="console"/>
		</rules>
	</nlog>
	<empty-messaging>
	</empty-messaging>
	<one-transport-messaging>
		<transports>
			<clear/>
			<add name="main" broker="localhost" login="guest" password="guest" messaging="RabbitMq"/>
		</transports>
		<endpoints>
			<clear/>
			<add name="endpoint1" transportId="main" publish="queue1" subscribe="queue1" sharedDestination="true"/>
			<add name="endpoint2" transportId="main" publish="queue2" subscribe="queue2" sharedDestination="false"/>
			<add name="endpoint3" transportId="main" publish="queue3" subscribe="queue3"/>
      <add name="endpoint4" transportId="main" publish="exchange1" subscribe="queue4" sharedDestination="true"/>
		</endpoints>
		<processingGroups>
			<clear/>
			<add name="processingGroup1" concurrencyLevel="5" queueCapacity="1000"/>
		</processingGroups>
	</one-transport-messaging>
	<default-messaging>
		<transports>
			<clear/>
			<add name="main" broker="localhost" login="guest" password="guest"/>
		</transports>
		<endpoints>
			<clear/>
			<add name="endpoint1" transportId="main" publish="queue1" subscribe="queue1"/>
		</endpoints>
		<processingGroups>
			<clear/>
			<add name="processingGroup1" concurrencyLevel="10"/>
		</processingGroups>
	</default-messaging>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
